body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#Calculator {
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    overflow: hidden;
}

#display {
    background-color: hsl(0, 0%, 20%);
    border: none;
    font-size: 5rem;
    padding: 20px;
    text-align: left;
    width: 100%;
    color: white;
}

button {
    background-color: hsl(0, 0%, 30%);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    height: 100px;
    width: 100px;
}

#keys {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator{
    background-color: hsl(35, 100%, 55%);
}
.operator:hover{
    background-color: hsl(35, 100%, 60%);
}
.operator:active{
    background-color: hsl(35, 100%, 65%);
}